<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{url_for('static',filename='menu.css') }}">
  <link rel="stylesheet" href="{{url_for('static',filename='header.css') }}">
</head>
<body>

<header class="header">

<h4 class="kang">20200681 강현인 기말고사</h4>

<h2 class="lol">공부 계획서</h2>

<div class="header__gnb">

  <ul class="#">

    <li class="#">
      <a class="ma" href="/">메인</a>
    </li>
    
    <li class="#">
      <a class="ma" href="/signup">회원가입</a>
    </li>

    <li class="#">
      <a class="ma" href="/search">로그인</a>
    </li>

    <li class="#">
      <a class="ma" href="/baseball">프로그래밍</a>
    </li>


  </ul>

</div>

</header>

<br>

<div class="container-fluid">
  <br>

  
  
</div>

</body>
</html>
